# Training Data

In [1]:
import numpy as np
import pandas as pd

import tensorflow as tf

In [24]:
data = pd.read_csv('train.csv')
data.head(10)

,customer_id,customer_bod,gender,phone_flag,student,employment,credit_card,balance,income,tenure,default
0,8300,1993-08-17,Female,1.0,No,Self Employed,1.0,87104.12,5015120.75,4yrs 4mon,0
1,672,2007-12-17,Female,1.0,Yes,NaN,0.0,89236.34,2266076.58,4yrs 1mon,0
2,5670,2000-02-05,Female,1.0,Yes,NaN,0.0,171553.12,1779347.34,0yrs 9mon,0
3,2975,1999-11-16,Female,1.0,Yes,NaN,0.0,85979.04,2014246.24,1yrs 8mon,0
4,3883,1977-08-18,Male,1.0,No,Salaried,0.0,48874.77,5445148.31,0yrs 10mon,0
5,7825,2002-04-18,Male,1.0,Yes,NaN,0.0,0.00,2390347.61,0yrs 0mon,0
6,6676,1995-08-17,NaN,1.0,No,Salaried,1.0,38546.17,5190882.42,1yrs 1mon,0
7,7991,1984-04-16,Male,1.0,No,Salaried,0.0,0.00,7112035.30,0yrs 0mon,0
8,9412,1998-12-27,Female,1.0,No,Salaried,1.0,103848.03,6455858.31,2yrs 6mon,0
9,9464,1981-03-12,Female,1.0,No,Salaried,0.0,0.00,3444624.30,0yrs 0mon,0

### Preprocessing Training Data

In [25]:
# melihat jumlah kolom dan jumlah baris
data.shape

(3693, 11)

In [26]:
# melihat modus data employement
data['employment'].value_counts()

Salaried         2061
Self Employed     640
Name: employment, dtype: int64

In [27]:
# melihat persentase missing value pada kolom employement.
data['employment'].isnull().sum() * 100 / len(data['employment'])

26.86163011102085

Karena jumlah Missing Value pada kolom `employment` mencapai 26.8%, kita akan mengganti nilai missing value tersebut dengan nilai Modus (Salaried) dengan asumsi bahwa bank kebanyakan menerima customer yang Salaried.

In [28]:
data['employment'] = data['employment'].fillna('Salaried')

Kita akan menghapus kolom `customer_id`, `customer_bod`, dan `gender` karena dirasa merupakan variabel yang tidak berpengaruh kepada hasil prediksi

In [29]:
unnecessary = ['customer_id', 'customer_bod', 'gender']
data = data.drop(unnecessary, axis = 1)

Selanjutnya kita akan melakukan encoding untuk data yang berupa kategori seperti `phone_flag`, `student`, `employment`, dan `credit_card`.

In [30]:
col_encode = ['phone_flag', 'student', 'employment', 'credit_card']
data = pd.get_dummies(data, columns = col_encode)

In [31]:
data

,balance,income,tenure,default,phone_flag_0.0,phone_flag_1.0,student_No,student_Yes,employment_Salaried,employment_Self Employed,credit_card_0.0,credit_card_1.0
0,87104.12,5015120.75,4yrs 4mon,0,0,1,1,0,0,1,0,1
1,89236.34,2266076.58,4yrs 1mon,0,0,1,0,1,1,0,1,0
2,171553.12,1779347.34,0yrs 9mon,0,0,1,0,1,1,0,1,0
3,85979.04,2014246.24,1yrs 8mon,0,0,1,0,1,1,0,1,0
4,48874.77,5445148.31,0yrs 10mon,0,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3688,144844.88,5060638.68,0yrs 9mon,0,1,0,1,0,1,0,1,0
3689,192978.31,2682965.60,1yrs 6mon,0,0,1,0,1,0,1,1,0
3690,141840.01,2172340.05,1yrs 0mon,0,0,1,0,1,1,0,1,0
3691,69477.43,5556566.10,4yrs 9mon,0,0,1,1,0,1,0,1,0
3692,146325.20,1363418.86,0yrs 9mon,0,0,1,0,1,1,0,1,0

Selanjutnya kita akan mengubah nilai kolom `tenure`menjadi jumlah hari, dengan menggunakan standar bahwa 1 bulan adalah 30 hari dan 1 tahun adalah 360 hari.

In [32]:
data['tenure'] = data['tenure'].str.strip().str.replace('yrs ', '')

In [33]:
data['tenure'] = data['tenure'].str.strip().str.replace('mon', '')

In [34]:
tenure = data['tenure'].to_numpy()

tenure2 = []
for i in range(3693):
    hasil = int(tenure[i][0])*360 + int(tenure[i][1:])*30
    tenure2.append(hasil)
    
n = data.columns[2]
data.drop(n, axis = 1, inplace = True)
data[n] = tenure2

data.head(10)

,balance,income,default,phone_flag_0.0,phone_flag_1.0,student_No,student_Yes,employment_Salaried,employment_Self Employed,credit_card_0.0,credit_card_1.0,tenure
0,87104.12,5015120.75,0,0,1,1,0,0,1,0,1,1560
1,89236.34,2266076.58,0,0,1,0,1,1,0,1,0,1470
2,171553.12,1779347.34,0,0,1,0,1,1,0,1,0,270
3,85979.04,2014246.24,0,0,1,0,1,1,0,1,0,600
4,48874.77,5445148.31,0,0,1,1,0,1,0,1,0,300
5,0.00,2390347.61,0,0,1,0,1,1,0,1,0,0
6,38546.17,5190882.42,0,0,1,1,0,1,0,0,1,390
7,0.00,7112035.30,0,0,1,1,0,1,0,1,0,0
8,103848.03,6455858.31,0,0,1,1,0,1,0,0,1,900
9,0.00,3444624.30,0,0,1,1,0,1,0,1,0,0

Supaya lebih sederhana, kita akan melakukan normalisasi terhadap kolom `balance`, `income`, dan `tenure` supaya range nilai-nya berada antara 0 dan 1.

In [35]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [36]:
cols = data.columns.tolist()
cols

['balance',
 'income',
 'default',
 'phone_flag_0.0',
 'phone_flag_1.0',
 'student_No',
 'student_Yes',
 'employment_Salaried',
 'employment_Self Employed',
 'credit_card_0.0',
 'credit_card_1.0',
 'tenure']

In [37]:
cols[0], cols[2] = cols[2], cols[0]
cols

['default',
 'income',
 'balance',
 'phone_flag_0.0',
 'phone_flag_1.0',
 'student_No',
 'student_Yes',
 'employment_Salaried',
 'employment_Self Employed',
 'credit_card_0.0',
 'credit_card_1.0',
 'tenure']

In [38]:
data = data[cols]
data

,default,income,balance,phone_flag_0.0,phone_flag_1.0,student_No,student_Yes,employment_Salaried,employment_Self Employed,credit_card_0.0,credit_card_1.0,tenure
0,0,5015120.75,87104.12,0,1,1,0,0,1,0,1,1560
1,0,2266076.58,89236.34,0,1,0,1,1,0,1,0,1470
2,0,1779347.34,171553.12,0,1,0,1,1,0,1,0,270
3,0,2014246.24,85979.04,0,1,0,1,1,0,1,0,600
4,0,5445148.31,48874.77,0,1,1,0,1,0,1,0,300
...,...,...,...,...,...,...,...,...,...,...,...,...
3688,0,5060638.68,144844.88,1,0,1,0,1,0,1,0,270
3689,0,2682965.60,192978.31,0,1,0,1,0,1,1,0,540
3690,0,2172340.05,141840.01,0,1,0,1,1,0,1,0,360
3691,0,5556566.10,69477.43,0,1,1,0,1,0,1,0,1710
3692,0,1363418.86,146325.20,0,1,0,1,1,0,1,0,270

In [39]:
col = data.columns.tolist()
col

['default',
 'income',
 'balance',
 'phone_flag_0.0',
 'phone_flag_1.0',
 'student_No',
 'student_Yes',
 'employment_Salaried',
 'employment_Self Employed',
 'credit_card_0.0',
 'credit_card_1.0',
 'tenure']

In [40]:
col[0], col[11] = col[11], col[0]
col

['tenure',
 'income',
 'balance',
 'phone_flag_0.0',
 'phone_flag_1.0',
 'student_No',
 'student_Yes',
 'employment_Salaried',
 'employment_Self Employed',
 'credit_card_0.0',
 'credit_card_1.0',
 'default']

In [41]:
data = data[col]
data

,tenure,income,balance,phone_flag_0.0,phone_flag_1.0,student_No,student_Yes,employment_Salaried,employment_Self Employed,credit_card_0.0,credit_card_1.0,default
0,1560,5015120.75,87104.12,0,1,1,0,0,1,0,1,0
1,1470,2266076.58,89236.34,0,1,0,1,1,0,1,0,0
2,270,1779347.34,171553.12,0,1,0,1,1,0,1,0,0
3,600,2014246.24,85979.04,0,1,0,1,1,0,1,0,0
4,300,5445148.31,48874.77,0,1,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3688,270,5060638.68,144844.88,1,0,1,0,1,0,1,0,0
3689,540,2682965.60,192978.31,0,1,0,1,0,1,1,0,0
3690,360,2172340.05,141840.01,0,1,0,1,1,0,1,0,0
3691,1710,5556566.10,69477.43,0,1,1,0,1,0,1,0,0
3692,270,1363418.86,146325.20,0,1,0,1,1,0,1,0,0

In [44]:
X = data.iloc[:, [0,1,2]]
X

      tenure      income    balance
0       1560  5015120.75   87104.12
1       1470  2266076.58   89236.34
2        270  1779347.34  171553.12
3        600  2014246.24   85979.04
4        300  5445148.31   48874.77
...      ...         ...        ...
3688     270  5060638.68  144844.88
3689     540  2682965.60  192978.31
3690     360  2172340.05  141840.01
3691    1710  5556566.10   69477.43
3692     270  1363418.86  146325.20

[3693 rows x 3 columns]

In [45]:
X = sc.fit_transform(X)
X

array([[ 1.71283156,  0.63621769, -0.29697579],
       [ 1.54538579, -1.07962174, -0.26206696],
       [-0.68722437, -1.38341796,  1.08562806],
       ...,
       [-0.51977861, -1.13812819,  0.59916333],
       [ 1.99190783,  0.97416544, -0.58556096],
       [-0.68722437, -1.64302327,  0.67259511]])

In [48]:
data['tenure'] = X[:, 0]
data['income'] = X[:, 1]
data['balance'] = X[:, 2]
data

,tenure,income,balance,phone_flag_0.0,phone_flag_1.0,student_No,student_Yes,employment_Salaried,employment_Self Employed,credit_card_0.0,credit_card_1.0,default
0,1.712832,0.636218,-0.296976,0,1,1,0,0,1,0,1,0
1,1.545386,-1.079622,-0.262067,0,1,0,1,1,0,1,0,0
2,-0.687224,-1.383418,1.085628,0,1,0,1,1,0,1,0,0
3,-0.073257,-1.236804,-0.315396,0,1,0,1,1,0,1,0,0
4,-0.631409,0.904623,-0.922869,0,1,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3688,-0.687224,0.664628,0.648359,1,0,1,0,1,0,1,0,0
3689,-0.184887,-0.819417,1.436402,0,1,0,1,0,1,1,0,0
3690,-0.519779,-1.138128,0.599163,0,1,0,1,1,0,1,0,0
3691,1.991908,0.974165,-0.585561,0,1,1,0,1,0,1,0,0
3692,-0.687224,-1.643023,0.672595,0,1,0,1,1,0,1,0,0

In [49]:
col_train = ['phone_flag_0.0', 'student_No', 'employment_Salaried', 'credit_card_0.0', 
             'phone_flag_1.0', 'student_Yes', 'employment_Self Employed', 'credit_card_1.0', 
             'income', 'balance', 'tenure']

train_input = np.array(data[col_train])[:3400]
train_label = np.array(data['default'])[:3400]

test_validation = np.array(data[col_train])[3401:]
real_validation = np.array(data['default'])[3401:]

### Building the Model

In [51]:
# model
model = tf.keras.models.Sequential([
    # input layer
    tf.keras.layers.Dense(4, kernel_initializer='normal', input_dim = train_input.shape[1], activation='relu'),
    
    # hidden layer
    tf.keras.layers.Dense(8, kernel_initializer='normal', activation='relu'),
    tf.keras.layers.Dense(16, kernel_initializer='normal', activation='relu'),
    tf.keras.layers.Dense(8, kernel_initializer='normal', activation='relu'),
    
    # output layer
    tf.keras.layers.Dense(1, kernel_initializer='normal', activation='sigmoid')
])

model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 4)                 48
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 40
_________________________________________________________________
dense_2 (Dense)              (None, 16)                144
_________________________________________________________________
dense_3 (Dense)              (None, 8)                 136
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 9
=================================================================
Total params: 377
Trainable params: 377
Non-trainable params: 0
_________________________________________________________________

In [52]:
# compile
#from tensorflow.keras.optimizers import RMSprop

model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [53]:
history = model.fit(train_input, train_label, epochs=100)

Epoch 1/100
107/107 [==============================] - 1s 2ms/step - loss: 0.6213 - accuracy: 0.9303
Epoch 2/100
107/107 [==============================] - 0s 2ms/step - loss: 0.2280 - accuracy: 0.9315
Epoch 3/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1698 - accuracy: 0.9315
Epoch 4/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1490 - accuracy: 0.9315
Epoch 5/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1378 - accuracy: 0.9315
Epoch 6/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1307 - accuracy: 0.9315
Epoch 7/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1275 - accuracy: 0.9315
Epoch 8/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1264 - accuracy: 0.9315
Epoch 9/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1248 - accuracy: 0.9512
Epoch 10/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1240 - accuracy: 0.9553
Epoch 11/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1232 - accuracy: 0.9544
Epoch 12/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1217 - accuracy: 0.9562
Epoch 13/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1213 - accuracy: 0.9535
Epoch 14/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1204 - accuracy: 0.9553
Epoch 15/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1196 - accuracy: 0.9541
Epoch 16/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1191 - accuracy: 0.9559
Epoch 17/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1193 - accuracy: 0.9524
Epoch 18/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1182 - accuracy: 0.9547
Epoch 19/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1178 - accuracy: 0.9550
Epoch 20/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1175 - accuracy: 0.9547
Epoch 21/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1184 - accuracy: 0.9553
Epoch 22/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1173 - accuracy: 0.9553
Epoch 23/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1172 - accuracy: 0.9544
Epoch 24/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1167 - accuracy: 0.9541
Epoch 25/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1185 - accuracy: 0.9538
Epoch 26/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1161 - accuracy: 0.9538
Epoch 27/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1164 - accuracy: 0.9544
Epoch 28/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1163 - accuracy: 0.9556
Epoch 29/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1164 - accuracy: 0.9562
Epoch 30/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1159 - accuracy: 0.9550
Epoch 31/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1157 - accuracy: 0.9553
Epoch 32/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1157 - accuracy: 0.9556
Epoch 33/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1153 - accuracy: 0.9559
Epoch 34/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1149 - accuracy: 0.9556
Epoch 35/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1148 - accuracy: 0.9544
Epoch 36/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1154 - accuracy: 0.9544
Epoch 37/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1150 - accuracy: 0.9556
Epoch 38/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1141 - accuracy: 0.9553
Epoch 39/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1160 - accuracy: 0.9547
Epoch 40/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1151 - accuracy: 0.9532
Epoch 41/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1144 - accuracy: 0.9553
Epoch 42/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1145 - accuracy: 0.9544
Epoch 43/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1145 - accuracy: 0.9556
Epoch 44/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1146 - accuracy: 0.9562
Epoch 45/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1144 - accuracy: 0.9556
Epoch 46/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1154 - accuracy: 0.9553
Epoch 47/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1144 - accuracy: 0.9541
Epoch 48/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1142 - accuracy: 0.9559
Epoch 49/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1147 - accuracy: 0.9553
Epoch 50/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1144 - accuracy: 0.9547
Epoch 51/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1148 - accuracy: 0.9556
Epoch 52/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1140 - accuracy: 0.9547
Epoch 53/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1139 - accuracy: 0.9547
Epoch 54/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1137 - accuracy: 0.9550
Epoch 55/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1137 - accuracy: 0.9559
Epoch 56/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1138 - accuracy: 0.9553
Epoch 57/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1139 - accuracy: 0.9547
Epoch 58/100
107/107 [==============================] - 0s 1ms/step - loss: 0.1146 - accuracy: 0.9547
Epoch 59/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1137 - accuracy: 0.9571
Epoch 60/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1135 - accuracy: 0.9559
Epoch 61/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1134 - accuracy: 0.9562
Epoch 62/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1138 - accuracy: 0.9559
Epoch 63/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1142 - accuracy: 0.9544
Epoch 64/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1133 - accuracy: 0.9565
Epoch 65/100
107/107 [==============================] - ETA: 0s - loss: 0.1132 - accuracy: 0.95 - 0s 2ms/step - loss: 0.1141 - accuracy: 0.9568
Epoch 66/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1130 - accuracy: 0.9562
Epoch 67/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1138 - accuracy: 0.9556
Epoch 68/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1134 - accuracy: 0.9550
Epoch 69/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1133 - accuracy: 0.9562
Epoch 70/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1139 - accuracy: 0.9553
Epoch 71/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1131 - accuracy: 0.9562
Epoch 72/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1138 - accuracy: 0.9544
Epoch 73/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1137 - accuracy: 0.9576
Epoch 74/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1135 - accuracy: 0.9565
Epoch 75/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1136 - accuracy: 0.9544
Epoch 76/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1135 - accuracy: 0.9559
Epoch 77/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1128 - accuracy: 0.9550
Epoch 78/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1133 - accuracy: 0.9559
Epoch 79/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1129 - accuracy: 0.9550
Epoch 80/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1140 - accuracy: 0.9538

Epoch 81/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1131 - accuracy: 0.9559
Epoch 82/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1137 - accuracy: 0.9571
Epoch 83/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1134 - accuracy: 0.9547
Epoch 84/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1131 - accuracy: 0.9565
Epoch 85/100
107/107 [==============================] - ETA: 0s - loss: 0.1101 - accuracy: 0.95 - 0s 2ms/step - loss: 0.1134 - accuracy: 0.9565
Epoch 86/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1133 - accuracy: 0.9559
Epoch 87/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1130 - accuracy: 0.9544
Epoch 88/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1128 - accuracy: 0.9556
Epoch 89/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1134 - accuracy: 0.9556
Epoch 90/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1130 - accuracy: 0.9568
Epoch 91/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1130 - accuracy: 0.9559
Epoch 92/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1130 - accuracy: 0.9556
Epoch 93/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1126 - accuracy: 0.9556
Epoch 94/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1132 - accuracy: 0.9547
Epoch 95/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1129 - accuracy: 0.9556
Epoch 96/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1131 - accuracy: 0.9553
Epoch 97/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1128 - accuracy: 0.9559
Epoch 98/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1127 - accuracy: 0.9553
Epoch 99/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1126 - accuracy: 0.9556
Epoch 100/100
107/107 [==============================] - 0s 2ms/step - loss: 0.1133 - accuracy: 0.9571

In [54]:
model.evaluate(test_validation, real_validation)

10/10 [==============================] - 0s 2ms/step - loss: 0.1030 - accuracy: 0.9623

[0.10299184918403625, 0.9623287916183472]

In [56]:
classification = model.predict(test_validation)
classification

array([[2.67168880e-03],
       [2.51543522e-03],
       [1.95881128e-02],
       [9.13699987e-05],
       [5.29363751e-03],
       [2.96440721e-03],
       [1.12465024e-03],
       [1.52230263e-04],
       [6.10184669e-03],
       [9.59971547e-03],
       [2.18182802e-04],
       [1.24958158e-03],
       [8.97202253e-01],
       [2.76871622e-01],
       [5.64154983e-03],
       [2.14278698e-04],
       [1.10660166e-01],
       [2.93418765e-03],
       [1.25180895e-05],
       [2.04503536e-04],
       [1.20684686e-04],
       [6.77525997e-04],
       [5.46100736e-03],
       [4.47127223e-03],
       [9.94757414e-02],
       [9.63250995e-01],
       [1.43022537e-02],
       [3.75956297e-04],
       [4.94784763e-05],
       [9.39265155e-05],
       [4.05225158e-03],
       [7.00349808e-02],
       [1.17746890e-02],
       [1.76935173e-05],
       [3.37809324e-04],
       [1.32549922e-05],
       [2.62647867e-04],
       [6.60938025e-02],
       [2.65713930e-02],
       [3.47129107e-01],
       [8.74373198e-01],
       [4.69714403e-04],
       [2.71093845e-03],
       [1.42276287e-04],
       [2.42620707e-04],
       [1.91658735e-04],
       [1.85221136e-02],
       [9.90331173e-04],
       [5.46731353e-01],
       [1.27583742e-04],
       [2.06711888e-03],
       [9.68028724e-01],
       [4.67721969e-01],
       [1.83033943e-03],
       [2.67337455e-05],
       [1.34027004e-03],
       [2.38647759e-02],
       [6.23026490e-03],
       [1.51110649e-01],
       [9.89198685e-04],
       [8.22073817e-02],
       [1.22919591e-05],
       [2.52902508e-04],
       [4.52235341e-03],
       [2.04505682e-01],
       [1.42219663e-03],
       [2.90691853e-04],
       [8.85006739e-05],
       [4.14034694e-05],
       [4.48136161e-05],
       [7.61991739e-03],
       [7.52069652e-02],
       [2.25208610e-01],
       [2.35812783e-01],
       [2.84522772e-04],
       [6.81638718e-04],
       [2.06349050e-05],
       [7.47293234e-04],
       [2.57149339e-03],
       [8.16488564e-02],
       [9.68028724e-01],
       [6.69866800e-04],
       [5.53736091e-03],
       [4.83840704e-03],
       [6.84738159e-04],
       [2.77724862e-03],
       [9.68028724e-01],
       [1.50335491e-01],
       [6.18805885e-02],
       [2.89231539e-04],
       [6.35206699e-02],
       [1.98411942e-03],
       [4.14471924e-02],
       [1.52858824e-01],
       [1.93357468e-01],
       [1.37656927e-04],
       [6.63995743e-03],
       [1.24782324e-03],
       [9.46819782e-03],
       [4.34719622e-02],
       [2.02599466e-02],
       [6.80070221e-02],
       [2.17325687e-02],
       [4.25437093e-03],
       [1.47488713e-03],
       [9.03637829e-06],
       [2.16531575e-01],
       [1.32127881e-01],
       [2.14278698e-04],
       [3.84539366e-04],
       [1.47437751e-02],
       [6.78589940e-03],
       [4.65095043e-04],
       [5.20256162e-03],
       [5.76919436e-01],
       [2.06735134e-02],
       [2.11808681e-02],
       [9.15437937e-04],
       [3.73112321e-01],
       [4.61306226e-05],
       [5.92797995e-04],
       [1.00435855e-05],
       [7.13950358e-05],
       [9.50111280e-05],
       [6.62886441e-01],
       [1.11231595e-01],
       [4.74625826e-03],
       [6.68016076e-03],
       [1.00611345e-04],
       [4.33129072e-03],
       [3.22830081e-02],
       [9.43660736e-04],
       [1.37865543e-04],
       [4.74909127e-01],
       [3.33309174e-04],
       [9.29476619e-02],
       [3.77988690e-05],
       [2.08914280e-04],
       [8.99732113e-04],
       [9.30500031e-03],
       [1.15984594e-05],
       [3.88918012e-01],
       [5.63716888e-03],
       [1.00576162e-01],
       [2.80156732e-03],
       [1.18774176e-03],
       [7.11122155e-03],
       [1.01438265e-04],
       [6.85902342e-05],
       [1.04424357e-03],
       [8.35677505e-01],
       [1.72510743e-03],
       [3.60429287e-04],
       [7.53045082e-04],
       [4.13823426e-02],
       [6.78177094e-05],
       [2.52448380e-01],
       [4.74956632e-03],
       [3.02910805e-02],
       [1.48504972e-04],
       [9.77832242e-05],
       [1.31386660e-05],
       [2.57858038e-01],
       [4.59989876e-01],
       [5.54412603e-04],
       [3.29468530e-05],
       [2.84749150e-01],
       [2.50531975e-05],
       [1.00529338e-04],
       [3.07434797e-03],
       [2.26050743e-05],
       [5.61635898e-05],
       [2.40834504e-01],
       [1.02984905e-03],
       [1.09196437e-04],
       [1.05306506e-03],
       [1.00886226e-02],
       [1.16805136e-02],
       [1.17351115e-02],
       [3.83657134e-05],
       [2.31742859e-04],
       [3.34054232e-04],
       [9.94515419e-03],
       [4.00209427e-03],
       [9.57226753e-03],
       [2.77461410e-02],
       [1.21459365e-03],
       [9.40767229e-02],
       [2.17687339e-05],
       [1.26376748e-03],
       [2.94928104e-05],
       [2.96252370e-01],
       [7.54314169e-05],
       [2.01195478e-03],
       [2.62290239e-04],
       [2.23338604e-04],
       [1.97667480e-02],
       [2.33024359e-04],
       [1.46758712e-05],
       [2.72870064e-04],
       [1.51913009e-05],
       [2.42953748e-01],
       [7.80363977e-02],
       [2.45040804e-01],
       [1.60106122e-02],
       [4.33653593e-04],
       [3.86531246e-05],
       [1.61284059e-01],
       [5.01823425e-02],
       [8.30543160e-01],
       [7.45773315e-04],
       [1.71959400e-04],
       [5.93006611e-04],
       [1.04408562e-02],
       [2.22831964e-04],
       [3.12983990e-04],
       [1.50530338e-02],
       [3.10602784e-03],
       [8.08640420e-02],
       [1.31150484e-02],
       [5.18950522e-02],
       [3.12602520e-02],
       [4.37262654e-03],
       [1.24724746e-01],
       [3.28019261e-03],
       [7.61315346e-01],
       [1.66821480e-03],
       [1.08271006e-05],
       [1.49726570e-02],
       [2.62752175e-03],
       [5.72925806e-03],
       [7.01838653e-05],
       [2.10784495e-01],
       [8.31216574e-04],
       [2.97686160e-02],
       [6.12691045e-03],
       [1.75812840e-03],
       [6.43306971e-03],
       [1.50959790e-02],
       [8.41713791e-06],
       [5.61254621e-02],
       [6.66624308e-03],
       [2.52773762e-02],
       [4.45320934e-01],
       [2.34821588e-01],
       [3.01925284e-05],
       [5.33273816e-03],
       [4.85380442e-05],
       [3.98952106e-05],
       [1.06788963e-01],
       [2.21222639e-04],
       [3.04024518e-02],
       [4.51829433e-02],
       [1.08167529e-03],
       [9.61662769e-01],
       [7.13611371e-05],
       [4.02740240e-02],
       [3.03420511e-05],
       [3.58104706e-04],
       [1.88753217e-01],
       [2.11849213e-02],
       [7.94112682e-04],
       [1.74066424e-03],
       [5.44574559e-02],
       [6.26587212e-01],
       [1.02537233e-04],
       [3.10450792e-04],
       [4.87061203e-01],
       [1.67050064e-02],
       [9.68028724e-01],
       [4.19848561e-02],
       [2.66134739e-04],
       [6.22338057e-03],
       [7.30014244e-06],
       [6.13430893e-05],
       [9.32124257e-03],
       [1.79193012e-05],
       [4.63467240e-02],
       [1.89298025e-05],
       [7.48941302e-03],
       [4.97430563e-04],
       [1.64681673e-03],
       [3.03447247e-04],
       [1.05175376e-03],
       [2.52336264e-02],
       [4.39897180e-03],
       [8.32855701e-04],
       [1.01037920e-02],
       [4.86262232e-01],
       [1.32780969e-02],
       [2.91973352e-04],
       [1.52275860e-02]], dtype=float32)

In [59]:
def step_func(L):
    result = []
    for i in L:
        res = i
        if i > 0.5:
            res = 1
        else :
            res = 0
        result.append(res)
    return result

prediksi = step_func(classification)
#prediksi
for i in range(len(prediksi)):
    print(prediksi[i], real_validation[i])

0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 1
0 0
0 0
0 0
0 0
0 0
0 0
0 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 1
0 0
0 0
1 1
0 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 1
0 0
0 0
0 0
0 0
0 0
1 1
0 1
0 0
0 0
0 0
0 0
0 0
0 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 1
0 0
0 0
0 0
0 0
1 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0

In [61]:
from sklearn.metrics import f1_score

f1_score(prediksi, real_validation)

0.7027027027027029

In [ ]:
c1 = data_test['customer_id'].to_numpy()
prediksi = np.array(prediksi)

hasil = {'customer_id':c1, 'default':prediksi}
df = pd.DataFrame(hasil, columns = ['customer_id', 'default'])
df.to_csv("hasil_prediksi.csv", index=False, header=True)