In [1]:
# import necessary module

import numpy as np
import pandas as pd

from keras.models import Sequential
from keras.layers import Dense

from sklearn.model_selection import train_test_split

In [2]:
# fungsi untuk generate data akar-akar persamaan kuadrat

def akar(a,b,c):
    D = b*b - 4*a*c
    for i in D:
        if i >= 0:
            x1 = (-b + np.sqrt(D)) / (2*a)
            x2 = (-b - np.sqrt(D)) / (2*a)
        else:
            pass
    return x1, x2

In [3]:
# koefisien persamaan kuadrat

np.random.seed(0)

a = np.random.randint(1,4, 1000)
b = np.random.randint(5,11, 1000)
c = np.random.randint(0,3, 1000)

x1, x2 = akar(a,b,c)

In [4]:
# see data

data = {'a' : a,
        'b' : b,
        'c' : c,
        'x1' : x1,
        'x2' : x2
       }
df = pd.DataFrame(data)
df

     a   b  c        x1        x2
0    1   6  1 -0.171573 -5.828427
1    2   6  2 -0.381966 -2.618034
2    1  10  1 -0.101021 -9.898979
3    2   6  0  0.000000 -3.000000
4    2   9  0  0.000000 -4.500000
..  ..  .. ..       ...       ...
995  3   9  0  0.000000 -3.000000
996  2   6  0  0.000000 -3.000000
997  1   8  2 -0.258343 -7.741657
998  3   8  1 -0.131483 -2.535184
999  3   8  2 -0.279241 -2.387426

[1000 rows x 5 columns]

In [5]:
# build model

def get_model(n_inputs, n_outputs):
    model = Sequential()
    model.add(Dense(20, input_dim = n_inputs, kernel_initializer='he_uniform', activation='relu'))
    model.add(Dense(n_outputs))
    model.compile(loss='mae', optimizer='adam')
    return model

In [6]:
# split

X = df.iloc[:, [0,1,2]]
Y = df.iloc[:, [3,4]]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1)

In [7]:
baris1, n_input = X.shape
baris2, n_output = Y.shape

model = get_model(n_input, n_output)

In [8]:
model.fit(X_train, Y_train, verbose=0, epochs=100)

In [9]:
model.evaluate(X_test, Y_test, verbose=0)

0.06894169002771378

In [10]:
hasil = model.predict(X_test)

In [11]:
akar1 = {"x1 pred": hasil[:, 0],
         "x1 real": Y_test.to_numpy()[:, 0]        
        }
pd.DataFrame(akar1)

     x1 pred   x1 real
0  -0.009487  0.000000
1   0.015878  0.000000
2  -0.009147  0.000000
3   0.015878  0.000000
4  -0.276144 -0.241694
..       ...       ...
95 -0.162011 -0.152873
96 -0.345957 -0.232408
97 -0.009487  0.000000
98 -0.291589 -0.267949
99 -0.166038 -0.149219

[100 rows x 2 columns]

In [12]:
akar1 = {"x2 pred": hasil[:, 1],
         "x2 real": Y_test.to_numpy()[:, 1]        
        }
pd.DataFrame(akar1)

     x2 pred    x2 real
0  -9.936335 -10.000000
1  -5.613750  -5.000000
2  -3.941186  -4.000000
3  -5.613750  -5.000000
4  -2.713518  -2.758306
..       ...        ...
95 -2.143845  -2.180460
96 -1.424888  -1.434259
97 -9.936335 -10.000000
98 -3.759579  -3.732051
99 -3.128172  -3.350781

[100 rows x 2 columns]

In [13]:
from sklearn.metrics import r2_score
r2_score(hasil[:, 0], Y_test.to_numpy()[:, 0])

0.9530657957897781

In [14]:
r2_score(hasil[:, 1], Y_test.to_numpy()[:, 1])

0.9941279529114341